<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="ServiceAssemblyName" value="Jufine.Backend.Security.ServiceImplement,Jufine.Backend.BaseData.ServiceImplement,Jufine.Backend.IM.ServiceImplement,Jufine.Backend.TM.ServiceImplement"/>
		<add key="Config/Website.config" value="Config/Website.config"/>
		<add key="SupperValidateCode" value="true"/>
	</appSettings>
	<connectionStrings>
		<!--27    -->
		<add name="SecurityConn" connectionString="Data Source=192.168.1.103;Initial Catalog=Security;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
			 providerName="System.Data.SqlClient" />
		<add name="SecurityEntities"
			 connectionString="metadata=res://*/DataAccess.Security.csdl|res://*/DataAccess.Security.ssdl|res://*/DataAccess.Security.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Security;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
		  providerName="System.Data.EntityClient" />

		<add name="BaseDataEntities" connectionString="metadata=res://*/DataAccess.BaseData.csdl|res://*/DataAccess.BaseData.ssdl|res://*/DataAccess.BaseData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BaseData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="IMEntities" connectionString="metadata=res://*/DataAccess.IM.csdl|res://*/DataAccess.IM.ssdl|res://*/DataAccess.IM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.27;initial catalog=IM;persist security info=True;user id=sa;password=jh@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="TMEntities" connectionString="metadata=res://*/DataAccess.TM.csdl|res://*/DataAccess.TM.ssdl|res://*/DataAccess.TM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.27;initial catalog=TM;persist security info=True;user id=sa;password=jh@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<!--91-->
		<!--
    <add name="SecurityConn" connectionString="m1XIAsaFw7/wxZOkTYzgyLoyv0X1mYfyqUcA7CRMiiMdg/R/AkJCzkKVyOjnEOpgujFsowk7A8YLZmKnKzkbdaSzFJytCvjINQbn9SE++GVxnbIc/nTgW3fb93Zya2gX63Vqt3S5GEhgmqzWny05Jw=="
         providerName="System.Data.SqlClient" />
    <add name="SecurityEntities"
         connectionString="I+vZNvOjITtJ643xiUHoN1afsghMET3AaW7dn35ws49aAv49csVEqGw08ox0YTwWEWWoV+15b/Bod0netVz/hcMgvT12/eZ++Uc7gzsbGVVAui4dsfvhwwWh4M6KLY/4T2oCAX7KDSDhbABkq1HbImxpt2CNzLCOXD+pKrU+JP1IMlWku8X7NVbLt05ItUct/6WUf/Fvso6MbKY0obvVeSqMJN4jO9l7XMzDGmmKc1pKOsV87rpnLM8sdPXg8J/4hpHXMIT7E0OMWIZVgW++TVWIVqOONwoyddsFgaut2VpZN1eu4FYFrt6DJWXBtp1dZRneC7n2ESFAqdPQtbbWaSe5tiZywFx5owyZ78zhluci4x6GrmTXZDlehQwr0qhUesXdObFF/k9Y1YSVdc856EpxlZA2af5YMpGlVqeSFhZIAzAT7JT6QMr5QJN0t6X0"
         providerName="System.Data.EntityClient" />
    <add name="BaseDataEntities" connectionString="I+vZNvOjITtJ643xiUHoN4JuVs+jYARDoU4gwxoYYxzwZXxp4neLRIKSWrLMbxKROEXq/jHoNBKbgAJwYI0mfVL7ftY8PHgNebnkyE63evWIqV3P3V5gQ0LL3Mc8r7mPltItWTJ9CmrhwikMWrPUB/bRRsQQO118MFBFwwK1biPcKW0TKoNUWuy00WO8sr3UVB4GreNGO036hWbOzMnAY2QGvcna+j10O2uyqPAg423aKM2H1EYvNfGhxkhUG22wbENLuBG56pwTEBAbJ6EeRRRFWRdtwFUtm4JGZ5GB18xipAfRTOFq5FLH5srf8wXxhrg7ICGUJqw4+guq/q8Y7jgCVfYPJ0RWHMUyCW2XnkhJuAafX4ztldualLogwlqdypRnFpdZ2WrvtWUvF1X0pVyCOhJ4Z95PY1+dBcF7Fk9tm8XdZHmD5kgIEY68q7Mh" providerName="System.Data.EntityClient" />
   <add name="IMEntities" connectionString="I+vZNvOjITtJ643xiUHoNz173VYbjmSNmaVPrk06qndqgB6qwFW//oiHM/NAWGps/Eke7kRbPp4xFdHTnizoJYwOOK8KKjRlMmqTQ1RMSJlP776UHkbbo58IvFwxPKRuRTkUNmbpm6XYZNbl6ZF/kq84yeMG3mPEr56c16ej1VflxRg5sKHpFB82zIpqDmVvAEd6iMZspp+6D7TrIgNZY2g4UPoG6NFYSI6Ut0dRw/mibPeplFrah0v+FGHwbRJshMv+c3TJkzkWDJNxRoK5Kk13soJCeK3/zGOOhmnVf3dJ7M/4rnShBw0Fv6VfWVgemB2nP4X9F3rqPku0yQhcPJehKdD0InYbajwKNvTZ+ceyakkCwzLuP8KLlPhHgMgr8Ja9yfvA4tm1/Nxtxe6Ye2ogcU3RFR0IaCxobeVfUKo=" providerName="System.Data.EntityClient" />
 -->
	</connectionStrings>

	<system.web>
		<httpRuntime requestValidationMode="2.0" executionTimeout="800" maxRequestLength="40960" useFullyQualifiedRedirectUrl="false"/>
		<compilation debug="true" targetFramework="4.0" />

		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
				<add tagPrefix="asp" namespace="AjaxControlToolkit.HTMLEditor" assembly="AjaxControlToolkit" />
				<add tagPrefix="asp" namespace="Com.BaseLibrary.Web" assembly="Com.BaseLibrary.Web" />
				<add tagPrefix="asp"  tagName="UCUploadFile" src="~/MasterPageDir/UserControls/UCUploadFile.ascx"/>
				<add tagPrefix="asp"  tagName="SearchableListBox" src="~/MasterPageDir/UserControls/SearchableListBox.ascx"/>
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="AspNetStaticFileHandler-GIF" path="*.gif" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-JPG" path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-PNG" path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-CSS" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-JS" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
		</handlers>
	</system.webServer>

</configuration>
