<?xml version="1.0" encoding="utf-8" ?>
<websiteConfiguration> 
  <uploadFileSetting>
    <setting Name="MerchantImageUploadPath"
             ImageUrlPath="http://localhost/content/"
             IsUploadImage="true"
             FileExtentions="gif|jpg|jpeg|png|bmp">
      <item UploadFilePath="d:\\content" IsLocalPath="true" />
    </setting>

    <setting Name="ResourceUploadPath"
    ImageUrlPath="http://localhost/content/"
    IsUploadImage="false"
    FileExtentions="xls">
      <item UploadFilePath="d:\\content\" IsLocalPath="true" />
    </setting>
  </uploadFileSetting>
  
</websiteConfiguration>